.card-row{
    background-color: rgb(245, 249, 224);
    margin-top: 20px;
    margin-right: 5px;
}

.progress-row{
    background-color: rgb(245, 249, 224);
    margin-top: 20px;
    margin-right: 5px;
}


.row-for-detail{
    background-color: rgb(245, 249, 224);
    margin-top: 20px;
    margin-right: 5px;
}