<!-- 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>    
  <div class="footer">
    <div class="inner-footer">
  
      <div class="footer-items">
        <h1>IGKV Placement Cell</h1>
        <p>Get Your Dream Job With IGKV's Placement Cell</p>
      </div>
  
      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> 
          <ul>
            <a routerLink="home"><li>Home</li></a>
            <a routerLink="home"><li>Search</li></a>
            <a routerLink="contact"><li>Contact</li></a>
            <a routerLink="about"><li>About</li></a>
          </ul>
      </div>
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Indira Gandhi Krishi Vishwavidyalaya
              Krishak Nagar, Raipur, Chhattisgarh 492012</li>
            <li style="margin-top: 50px;"><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
          </ul> 
                  <div class="social-media">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-google-plus-square"></i></a>
           
          </div> 
      </div>
    </div>
    <hr>
        <div class="footer-bottom">
      Copyright &copy; IGKV placement Cell 2023.
    </div>
    <div class="logos">
      <span class="footer-logo"><a href="https://chhattisgarh.nic.in/"> <img src="../assets\images\niclogo.jpg" alt="NIC Logo"></a></span>
  
    </div>
  </div> -->
    
  
  <!-- Remove the container if you want to extend the Footer to full width. -->
  

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>    
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="  background-color: rgba(3, 3, 3, 0.986); "
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">
              Company 
            </h5>
            <p>
             IGKV is an Educational Institute that provide education and set way to bright future for students (work hard and take job)
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none"/>

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Routes</h5>
            <p>
              <span class="golink">HOME</span>
            </p>
            <p>
              <span class="golink">ABOUT US</span>
            </p>
            <p>
              <span class="golink">CONTACT US</span>
            </p>
            <p>
              <span class="golink">LOGIN</span>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h5>
            <p>
              <a class="text-white">www.igkv.in</a>
            </p>
            <p>
              <a class="text-white">www.croppdoctor.in</a>
            </p>
            <p>
              <a class="text-white">wwww.igkv_alumni</a>
            </p>
            <p>
              <a class="text-white">www.igkv_repository</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
            <p><i class="fa fa-instagram"></i> igkv_instapage</p>
            <p><i class="fa fa-facebook"></i> pageIGKV</p>
            <p><i class="fa fa-google-plus-square"></i>www.igkv.in</p>
            <p><i ><mat-icon style="padding-top: 4px;">phone_in_talk</mat-icon></i>  91 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <div class="row">
        <div class="col-md-10 Disclaimer">
       
         <strong>Disclaimer:</strong>
             Designed & Developed By: Daulat Sahu(Knowledge and information center, Indragandhi Krishi Vishwavidyalaya), Raipur © 2023 The contents are owned by IGKV, Raipur.
         
           <p>Copyright © 2023  igkv®. All rights reserved.</p> 
        </div>
    
        <div class=" col-md-2 ">
            <div class="niclogo">
            <img mat-card-image class="img-fluid" src= "../../../assets/IGKV_Logo_png_igmis.png" height="60px" width="60px" alt="NIC Logo">
        </div>
        </div>
       
      
        </div>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
 
    

  
