<div class="container-fluid">
  <mat-card>
    <form [formGroup]="newform" (ngSubmit)="submitdata()">
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading">
            <h2 style="color: whitesmoke">Financial Year Wise Post Setup</h2>
          </div>
        </div>
        <br />
       
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="inputfieldsize">
              <mat-label> Choose Project </mat-label>
              <mat-select
                formControlName="Project_ID">
                <mat-option *ngFor="let c of projectType"
                  [value]="c.Project_ID">
                  {{ c.Project_Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Financial Year</mat-label>
                <mat-select matNativeControl formControlName="Financial_id"
                    (valueChange)="onChangeFYear($event)">
                    <mat-option  selected>Select Year</mat-option>
                    <mat-option *ngFor="let year of FYear" [value]="year.Financial_id">
                        {{year.Financial_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="inputfieldsize">
              <mat-label>PI Referral Number</mat-label>
              <input
                matInput
                placeholder="IGKV101"
                formControlName="PI_ref_no"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="inputfieldsize">
              <mat-label>Work Oreder Referral Number</mat-label>
              <input
                matInput
                placeholder="MIS101"
                formControlName="Work_order_ref_no"
              />
            </mat-form-field>
          </div>
        </div>
        
        <div class="container-flued">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border">Attach Files</legend>
            <div class="control-group">
              
              <div class="row">
                <div class="col-md-3">
                  <mat-label *ngIf="iseditmode">edit your File</mat-label>&nbsp;
                  <mat-label *ngIf="!iseditmode"><strong>PI Refferal upload</strong></mat-label>&nbsp;
                  <input  type="file" multiple #profile  (change)="selectPI($event)">
                  <!-- <button type="button" (click)="submitfile()" id="tushil" *ngIf="iseditmode" >Upload</button> --> <br>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button  class="mt-2" (click)="submitPIfile()" type="button" style="background-color: rgb(207, 112, 234);">upload</button>
                </div>

                <div class="offset-1 col-md-3">
                  <mat-label *ngIf="iseditmode">edit your Work Order</mat-label>&nbsp;
                  <mat-label *ngIf="!iseditmode"><strong>Work Order upload</strong></mat-label>&nbsp;
                  <input  type="file" multiple #profile  (change)="selectimage($event)">
                  <!-- <button type="button" (click)="submitfile()" id="tushil" *ngIf="iseditmode" >Upload</button> --> <br>
                </div>
                <div class="col-md-2">
                  <button mat-raised-button  class="mt-2" (click)="submitfile()" type="button" style="background-color: rgb(207, 112, 234);">upload</button>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <br />
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Post Detail Entry</legend>
          <div class="row" style="margin-top: 2px;" >
            <div class="col-md-2 mt-2">
              <mat-form-field appearance="outline" class="inputfieldsize">
                <mat-label>Choose Post </mat-label>
                <mat-select  #myuser id="c" (selectionChange)="logSelectedValue(myuser.value)" class="custom-select">
                  <mat-option *ngFor="let c of post ;" [value]="c.Post_id">
                    {{c.Post_name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            
              <div class="col-md-2">
                  <div class="form-group">
                    <label for="inputlg">Start Date</label>
                    <input class="form-control input-lg" id="date-input" type="date"  #myuser1 [value]="val1" value="2023-05-26">
                  </div>
              </div>

              <div class="col-md-2">
                  <div class="form-group">
                    <label for="inputsm">Enad Date</label>
                    <input class="form-control input-sm"  type="date" id="date-input"  #myuser2 [value]="val2" value="2023-05-26">
                  </div>
              </div>

              <div class="col-md-2">
                  <div class="form-group">
                    <label for="inputlg">Salary</label>
                    <input class="form-control input-lg" type="number" placeholder="Salary" id="date-input" style="text-align:end;" #myuser4 [value]="val2">
                  </div>
              </div>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputlg">Description</label>
                  <input class="form-control input-lg"  id="date-input" placeholder="Description" #myuser6 [value]="val6">
                </div>
              </div>

              <div class="col-md-2 mt-4">
              <button mat-raised-button color="accent" 
              (click)="onclick1(myuser.value,myuser1.value,myuser2.value,myuser4.value,myuser6.value,name1)" type="button">
                     + ADD
              </button>
              </div>
          </div>

          <div class="container mt-5">
            <div class="row">
              <div class="col-md-12" style="overflow-x: auto">
                <table class="table table-bordered mt-3" >
                  <thead class="thead-light">
                    <h5 class="title">Post Entry Details</h5>
        
            <tr>
                <th>Sr.No</th>
                <th>Post Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Salary</th>
                <th>Description</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let i of postDetailarray;let ind=index;">
                <td>{{ind+1}}</td>
                <td>{{i.name1}}</td>
                <td>{{i.sdate}}</td>
                <td>{{i.edate}}</td>
                <td>{{i.sal}}</td>
                <td>{{i.desc}}</td>
            </tr>  
                     
        </tbody>
        </table>
      </div>
      </div>

      </div>
      </fieldset> 
        <!-- <div class="container mt-5" >
          <div class="row">
            <div class="col-md-12" style="overflow-x: auto">
              <table class="table table-bordered mt-3" >
                <thead class="thead-light">
                  <tr>
                    <th>Sr</th>
                    <th>Post Name</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                  </tr>
                </thead>
                
                <tbody >
                
                  <ng-container formArrayName='postDetArray'>
                    <tr *ngFor="let addressGroup of postControl.controls; let i = index" [formGroupName]="i">

                      <td>{{i+1}}</td>
                      <td>{{ post[i].Post_name}}</td>

                      <td><input type="number" class="dateis"  formControlName="Salary" style="text-align: end;"></td>

                      <td><input type="date" class="dateis" id="date-input" name="date"  formControlName="Start_date" value="2023-05-26"></td>

                      <td><input type="date" class="dateis" id="date-input" name="date"  formControlName="End_date" value="2023-05-26"></td>

                      <td><input type="text" class="dateis"  formControlName="Description" ></td>
                    
                    </tr>
                  </ng-container>
       
                 
                 
                </tbody>
             
              </table>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col offset-5 mt-3" style="margin-bottom: 10px">
          <button
            mat-raised-button
            color="primary"
            *ngIf="!iseditmode"
            type="submit"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
<br />


<br>
<!-- mat table -->
 <div class="container-fluid">
    <mat-card style="margin-bottom: 40px;">
        <mat-toolbar>
            <p><span ><h5 class="title">Financial Year Wise Assign Post Detail</h5></span> </p>
        </mat-toolbar>
       <div class="container ">
  <div class="row table-responsive">
    
    <div class="search_container mt-2" >
        <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)" >
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <table class="con-table" mat-table matSort [dataSource]="dataSource" >
        <ng-container matColumnDef="finance_post_main_id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element">{{element.finance_post_main_id}}</td>
        </ng-container>
        <ng-container matColumnDef="Project_name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let element"> {{element.Project_name}} </td>
          </ng-container>
        <ng-container matColumnDef="Financial_name">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>Financial Year</th>
            <td mat-cell *matCellDef="let element"> {{element.Financial_name}} </td>
          </ng-container>
          <ng-container matColumnDef="PI_ref_no">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>PI Referral No.</th>
            <td mat-cell *matCellDef="let element"> {{element.PI_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="Work_order_ref_no">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>Work Order No.</th>
            <td mat-cell *matCellDef="let element"> {{element.Work_order_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="Action" stickyEnd="true">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Preview</th>
            <td mat-cell *matCellDef="let element"> 
                 <button mat-icon-button color="accent" (click)="getPreview(element.finance_post_main_id);">
                  <mat-icon>preview</mat-icon>
                </button>
               
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
<br>
      <mat-paginator class="paging"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
     </mat-paginator>
</div>
</div>
    </mat-card>
</div> 

<!-- Data Table -->
<div class="container" id="addnews">
  <div class="row"> 
    <div >
      <mat-toolbar >
        <p><span ><h6 class="title  mt-3" style="color: rgb(55, 53, 53); margin-left: 15px;">
          <span>Project   : {{useProject}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span>Financial Year   : {{useFinancialYear}}</span>
        </h6></span> </p>
      </mat-toolbar>
    </div>
  </div>
  
  <table class="table table-bordered mt-3 scroll-down ">
    <thead>
      <tr >
        <th>Post Name</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of allPreviwDetail" >
        <td >{{us.Post_name}}</td>
        <td>{{us.Salary}}</td>
        <td>{{us.Start_date | date:'dd/MM/YYYY'}}</td>
        <td>{{us.End_date | date:'dd/MM/YYYY'}}</td>
        <td>{{us.Description}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
 
