

  <section class="">
    <div class="wrapper">
      <h2 class="headers">TESTIMONIALS</h2>
    </div>
        <div class="containers">
      <owl-carousel-o [options]="policyOptions">
        <ng-template carouselSlide> 
          <div class="testimonial-card">
            <div class="testimonial-speech">
              <p>
                "I'm extremely impressed with the quality of work and level of professionalism provided by the team. They exceeded our expectations and delivered a stunning website on time. Highly recommended!"
              </p>
            </div> <br>
            <div class="testimonial-photo">
              <img src="../../../assets/IGKV_Logo_png_igmis.png" alt="Testimonial Photo">
            </div>
            <div class="testimonial-details">
              <h3 class="testimonial-name">DR. GIRISH CHANDEL</h3>
              <p class="testimonial-qualification">Vice Chancellor</p>
            </div>
          </div>
       </ng-template>
       <ng-template carouselSlide> 
        <div class="testimonial-card">
          <div class="testimonial-speech">
            <p>
              "I'm extremely impressed with the quality of work and level of professionalism provided by the team. They exceeded our expectations and delivered a stunning website on time. Highly recommended!"
            </p>
          </div> <br>
          <div class="testimonial-photo">
            <img src="../../../assets/IGKV_Logo_png_igmis.png" alt="Testimonial Photo">
          </div>
          <div class="testimonial-details">
            <h3 class="testimonial-name">DR.  R. R. SAKSENA </h3>
            <p class="testimonial-qualification">Professor</p>
          </div>
        </div>
     </ng-template>
     <ng-template carouselSlide> 
      <div class="testimonial-card">
        <div class="testimonial-speech">
          <p>
            "I'm extremely impressed with the quality of work and level of professionalism provided by the team. They exceeded our expectations and delivered a stunning website on time. Highly recommended!"
          </p>
        </div> <br>
        <div class="testimonial-photo">
          <img src="../../../assets/IGKV_Logo_png_igmis.png" alt="Testimonial Photo">
        </div>
        <div class="testimonial-details">
          <h3 class="testimonial-name">ABHIJEET KAUSHIK</h3>
          <p class="testimonial-qualification">Scientist - C</p>
        </div>
      </div>
   </ng-template>
   <ng-template carouselSlide> 
    <div class="testimonial-card">
      <div class="testimonial-speech">
        <p>
          "I'm extremely impressed with the quality of work and level of professionalism provided by the team. They exceeded our expectations and delivered a stunning website on time. Highly recommended!"
        </p>
      </div>
      <br>
      <div class="testimonial-photo">
        <img src="../../../assets/IGKV_Logo_png_igmis.png" alt="Testimonial Photo">
      </div>
      <div class="testimonial-details">
        <h3 class="testimonial-name">SANDEEP KHATIK</h3>
        <p class="testimonial-qualification">Programmer</p>
      </div>
    </div>
 </ng-template>
      </owl-carousel-o>
    </div>
 </section>