<div class="container-fluid" id="addnews">
    <mat-card>
        <form [formGroup]="Resource_Allotment_Form" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 heading">
                        <h2 style="color:whitesmoke;">Employee Resource Allotment</h2>
                    </div>
                </div>
                <br>
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Employee Resource Allotment</legend>
                    <div class="control-group">

                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="inputfieldsize">
                                    <mat-label>Employee Name</mat-label>
                                    <mat-select formControlName="Emp_Id">
                                        <mat-option *ngFor="let c of employee_name ;" [value]="c.Emp_Id">
                                            {{c.Emp_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="inputfieldsize">
                                    <mat-label>Resource Name</mat-label>
                                    <mat-select formControlName="item_id">
                                        <mat-option *ngFor="let c of resource_name ;" [value]="c.item_id">
                                            {{c.item_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field appearance="outline" class="inputfieldsize">
                                    <mat-label>Project Name</mat-label>
                                    <mat-select formControlName="Project_ID">
                                        <mat-option *ngFor="let c of project_name ;" [value]="c.Project_ID">
                                            {{c.Project_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field color="accent" appearance="outline" class="inputfieldsize">
                                    <mat-label>Allotment Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="allotment_date">
                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field color="accent" appearance="outline" class="inputfieldsize">
                                    <mat-label>Allotment Date End</mat-label>
                                    <input matInput [matDatepicker]="picker3" formControlName="allotment_date_end">
                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                               
                            </div>
                        </div>

                        <br>
                        <div class="row" fxLayout="row" fxLayoutAlign="center center">
                            <div class="col" fxLayout="row" fxLayoutAlign="center center">
                              <button mat-raised-button type="button" (click)="onClear()">
                                Clear
                              </button>
                              <span fxFlex="20px"></span> <!-- Add a flexible space between the buttons -->
                              <button mat-raised-button color="primary" *ngIf="!isEditMode" type="submit">
                                Submit
                              </button>
                              <button mat-raised-button color="primary" [disabled]="!Resource_Allotment_Form.valid" *ngIf="isEditMode" type="button">
                                Update
                              </button>
                            </div>
                          </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </mat-card>
</div>
<!-- mat table -->

<div class="container-fluid">
    <mat-card style="margin-top: 30px;">
        <fieldset class="scheduler-borders ">
            <legend class="scheduler-border">Employee Resource Allotment
            </legend>
            <div class="container ">
                <div class="row table-responsive">
                    <div class="search_container mt-2">
                        <mat-form-field class="example-full-width">
                            <span matPrefix> </span>
                            <input type="tel" matInput placeholder="Search" autocomplete="off"
                                (keyup)="applyFilter($event)">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <table class="con-table" mat-table matSort [dataSource]="dataSource">
                        <ng-container matColumnDef="ID">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
                            <td mat-cell *matCellDef="let element">{{element.allotment_id}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Emp_name">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>Employee Name</th>
                            <td mat-cell *matCellDef="let element">{{element.Emp_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="Item Name">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>Resource Name</th>
                            <td mat-cell *matCellDef="let element">{{element.item_name}}</td>
                        </ng-container>
                        <ng-container matColumnDef="Project Name">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>Project Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.Project_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Allotment Date">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>Allotment Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.allotment_date| date:'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                            <th mat-sort-header mat-header-cell *matHeaderCellDef>Action</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="primary" (click)="onedit(element.allotment_id)">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                <button mat-icon-button color="warn" (click)="ondelete(element.allotment_id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <br>
                    <mat-paginator class="paging" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </fieldset>
    </mat-card>
</div> <br> <br>