

<section id="services" class="services section-bg " id="services-usss">
    <div class="container">

      <div class="section-title">
        <h2 class="service-head">KTRC<span style="color: rgb(5, 5, 5);">SERVICES</span></h2>
        <p style="color: rgb(0, 0, 0);">Knowledge and Technology Resource Centre.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" >
            <i class="bi bi-briefcase"></i>
            <h4><a href="https://igkv.ac.in/web/igkv.aspx">Web Application Services</a></h4>
            <p>One of our core strengths lies in the Complete Software Development Room, where a team of developers works tirelessly to create and refine various e-governance software solutions.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="https://play.google.com/store/apps/details?id=igkv.igkvcropdoctor&hl=en&gl=US">Mobile Application Services</a></h4>
            <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Server </a></h4>
            <p>KTRC provide servers </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" >
            <i class="bi bi-binoculars"></i>
            <h4><a href="#">Local Aria Network(LANs)</a></h4>
            <p>KTRS has set up a Local Area Networks (LAN)</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" >
            <i class="bi bi-brightness-high"></i>
            <h4><a href="#">Video Confrencing</a></h4>
            <p>We have set up a dedicated Video Conferencing Room and Mini Theatre, facilitating seamless interaction and knowledge exchange among faculty, students, and farmers. </p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" >
            <i class="bi bi-calendar4-week"></i>
            <h4><a href="#">Server Available</a></h4>
            <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
