
<br>
<!-- mat table -->
 <div class="container-fluid">
    <mat-card style="margin-bottom: 40px;">
        <mat-toolbar>
            <p><span ><h5 class="title">Financial Year Wise Assign Post Detail</h5></span> </p>
        </mat-toolbar>
       <div class="container ">
  <div class="row table-responsive">
    
    <div class="search_container mt-2" >
        <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)" >
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <table class="con-table" mat-table matSort [dataSource]="dataSource" >
        <ng-container matColumnDef="finance_post_main_id">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element">{{element.finance_post_main_id}}</td>
        </ng-container>
        <ng-container matColumnDef="Project_name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Project</th>
            <td mat-cell *matCellDef="let element"> {{element.Project_name}} </td>
          </ng-container>
        <ng-container matColumnDef="Financial_name">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>Financial Year</th>
            <td mat-cell *matCellDef="let element"> {{element.Financial_name}} </td>
          </ng-container>
          <ng-container matColumnDef="PI_ref_no">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>PI Referral No.</th>
            <td mat-cell *matCellDef="let element"> {{element.PI_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="Work_order_ref_no">
            <th mat-sort-header  mat-header-cell *matHeaderCellDef>Work Order No.</th>
            <td mat-cell *matCellDef="let element"> {{element.Work_order_ref_no}} </td>
          </ng-container>
          <ng-container matColumnDef="Action" stickyEnd="true">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Preview</th>
            <td mat-cell *matCellDef="let element"> 
                 <button mat-icon-button color="accent" (click)="getPreview(element.finance_post_main_id); scrollToBottom()">
                  <mat-icon>preview</mat-icon>
                </button>
               
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
<br>
      <mat-paginator class="paging"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
     </mat-paginator>
</div>
</div>
    </mat-card>
</div> 

<!-- mat card -->
       
<div class="container" id="endOfPage">
  <mat-card>
      
        <mat-toolbar>
          <p><span ><h5 class="title  mt-3" style="color: rgb(55, 53, 53); margin-left: 50px;">
            <span>Project   : {{useProject}}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Financial Year   : {{useFinancialYear}}</span>
          </h5></span> </p>
       
         
        </mat-toolbar>
     
  <div class="container card-content" style="margin-bottom: 20px;">
      <div class="row">
  
          <mat-card class="example-card-new mt-3" *ngFor=" let us of allPreviwDetail" >
              
              <mat-toolbar>
               <mat-card-header>
                   <div mat-card-avatar class="example-header-image"></div>
                   <mat-card-title> <h5>{{us.Post_name}}</h5> </mat-card-title>
                 </mat-card-header>
              </mat-toolbar>
              
               <img mat-card-image src="https://www.gp-implant.com/wp-content/uploads/2016/06/mis.png" alt="">
               <mat-card-content style="font-size: 15px;  color: rgb(49, 46, 46);">
                <table style="width: 100%;">
                  <tr>
                    
                  </tr>
                  <tr>
                    <td>Post Name   :</td>
                    <td>{{us.Post_name}}</td>
                  </tr>
                  <tr>
                    <td>Salary   :</td>
                    <td>{{us.Salary}}</td>
                  </tr>
                  <tr>
                    <td>Start Date   </td>
                    <td>{{us.Start_date | date:'dd/MM/YYYY'}}</td>
                  </tr>
                  <tr>
                    <td>End Date   :</td>
                    <td>{{us.End_date | date:'dd/MM/YYYY'}}</td>
                  </tr>
                  <tr>
                    <td>Description   :</td>
                    <td>{{us.Description}}</td>
                  </tr>
                </table>
                   
               </mat-card-content>
              
             </mat-card>
      </div>
  </div>
  </mat-card>
  </div> <br> <br>


