<div class="container-fluid" id="about-usss">
    <div class="row content-head">
        <div class="center-head">
            <h3>About</h3> 
            <!-- <p>Here about of Indra Gandhi Krishi Visvavidhylaya and MIS (Knowledge and information Center IGKV).</p> -->
        </div>
    </div> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="image-container mat-elevation-z8">
                <img [src]="currentImageUrl" class="animated-image"/>
              </div>
        </div>
        <div class="col-md-8">
            <p>The Knowledge and Technology Resource Centre (KTRC) established at Indira Gandhi Krishi Vishwavidyalaya, Raipur dedicated to empowering students, farmers, and communities across Chhattisgarh with cutting-edge e-governance technology. Made possible through the generous funding support from RKVY, Government of India, this centre is poised to revolutionize the dissemination of knowledge and technological advancements in the agricultural domain.</p>
    
            <p>At KTRC, we have harnessed the power of digital innovation to create an all-encompassing platform for knowledge sharing and skill development. The centre boasts a state-of-the-art Digital KISAN Studio with an advanced control room, where a diverse array of videos are crafted and seamlessly broadcasted in real-time. These videos are tailor-made to cater to the specific needs of both university students and farmers, enabling them to access vital information, best practices, and expert insights at their convenience.</p>

            <p>The Knowledge and Technology Resource Centre at Indira Gandhi Agriculture University is not just a physical space; it symbolizes a vision of progress, innovation, and collaboration. We are committed to nurturing a culture of continuous learning, knowledge-sharing, and digital transformation, ensuring that the agricultural community of Chhattisgarh can thrive in an increasingly digital world.</p>
        </div>
       
    </div><br>
</div>