
<div class="container-fluid" id="addnews">
    <mat-card>
        <div class="container">
         <form [formGroup]="postMapForm"   (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12 heading">
                    <h2 style="color:whitesmoke;">Employee Mapping With Post</h2>
                </div>
            </div>
            <br>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Employee Post Mapping </legend>
                <div class="control-group">
                    <div class="row">
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="inputfieldsize">
                            <mat-label>Financial Year</mat-label>
                            <mat-select matNativeControl formControlName="Financial_id"
                                (valueChange)="onChangeFYear($event)">
                                <mat-option  selected>Select Year</mat-option>
                                <mat-option *ngFor="let year of FYear" [value]="year.Financial_id">
                                    {{year.Financial_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="inputfieldsize">
                            <mat-label>Choose Post </mat-label>
                            <mat-select formControlName="Post_id">
                              <mat-option *ngFor="let c of post ;" [value]="c.Post_id">
                                {{c.Post_name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field appearance="outline" class="inputfieldsize">
                              <mat-label>Choose Employee</mat-label>
                              <mat-select formControlName="Emp_Id">
                                <mat-option *ngFor="let c of allemp ;" [value]="c.Emp_Id" >
                                  {{c.Emp_First_Name_E}}
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                       <div class="col-md-3">
                        <mat-form-field color="accent" appearance="outline" class="inputfieldsize">
                            <mat-label>Join Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="Join_date">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                          </mat-form-field>
                       </div>
                       <div class="col-md-3">
                        <mat-form-field appearance="outline" class="inputfieldsize">
                            <mat-label>
                             Appointment Order
                            </mat-label>
                            <input matInput placeholder=" Appointment Order" formControlName="Appointment_order">
                        </mat-form-field>
                       </div>
                       <div class="col-md-3">
                        <mat-form-field color="accent" appearance="outline" class="inputfieldsize">
                            <mat-label>Reliving Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="Reliving_date">
                            <mat-hint>DD/MM/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                       </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline" class="inputfieldsize">
                                <mat-label>
                                 Reliving Order
                                </mat-label>
                                <input matInput placeholder=" Reliving Order" formControlName="Reliving_order">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 ">
                            <div><mat-label><h6> Active Status</h6></mat-label> </div>
                             <mat-radio-group aria-label="Select an option" formControlName="Active_yn">
                                 <mat-radio-button value="Y">Yes</mat-radio-button>
                                 <mat-radio-button value="N">No</mat-radio-button>
                               </mat-radio-group>
                         </div>
                        <div class="col-md-10">
                            <mat-form-field appearance="outline" class="inputfieldsize">
                                <mat-label>Remark</mat-label>
                                <textarea matInput formControlName="Remark"></textarea>
                              </mat-form-field>
                        </div>
                    </div>

              <div class="row">
                <div class="col-md-4" >
                  <!-- <mat-form-field appearance="outline"> -->
                    <mat-label *ngIf="iseditmode">edit your NOC</mat-label>&nbsp;
                    <mat-label *ngIf="!iseditmode"><strong>NOC upload</strong></mat-label>&nbsp;
                    <input  type="file" multiple #profile  (change)="selectimage($event)">
                    <!-- <button type="button" (click)="submitfile()" id="tushil" *ngIf="iseditmode" >Upload</button> --> <br>
                    <button mat-raised-button  class="mt-2" (click)="submitfile()" type="button" style="background-color: rgb(207, 112, 234);">upload</button>
                  <!-- </mat-form-field> -->
                </div>
                  <!-- <div style="display: contents; ;"><img [src]="uploadedimage" alt="NOC DOC" style="width: 20%;border: 2px solidgrey"></div> -->
              <br><br>
              </div>
                </div>
               
                <div class="row ">
                    <div class="col offset-5">
                        <button mat-raised-button  type="button" (click)="onClear()">
                            Clear
                        </button> &nbsp;&nbsp; 
                        <button mat-raised-button color="primary"  *ngIf="!iseditmode" type="submit">
                            Submit
                        </button>
                        <button mat-raised-button color="primary"  *ngIf="iseditmode" (click)="onupdate()" type="button">
                            Update
                        </button>
    
                </div>
                </div>
            </fieldset>
</form>  
    </div>
    </mat-card>
</div> <br><br>


<!-- mat table -->
<div class="container-fluid">
    <mat-card style="margin-bottom: 40px;">

        <mat-toolbar>
            <p><span ><h5 class="title">Mapping Data</h5></span> </p>
        </mat-toolbar>
       <div class="container ">
  <div class="row table-responsive">
    
    <div class="search_container mt-2" >
        <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" autocomplete="off" (keyup)="applyFilter($event)" >
        <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <table class="con-table" mat-table matSort [dataSource]="dataSource" >
           
        <ng-container matColumnDef="Map_post_emp_id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">{{element.Map_post_emp_id}}</td>
          </ng-container>
        <ng-container matColumnDef="Financial_name">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Financial Year </th>
          <td mat-cell *matCellDef="let element">{{element.Financial_name}}</td>
        </ng-container>
        <ng-container matColumnDef="Emp_First_Name_E">
          <th mat-sort-header mat-header-cell *matHeaderCellDef> Employee </th>
          <td mat-cell *matCellDef="let element">{{element.Emp_First_Name_E}}</td>
        </ng-container>
        <ng-container matColumnDef="Post_name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Post</th>
            <td mat-cell *matCellDef="let element"> {{element.Post_name}} </td>
          </ng-container>

         
          <ng-container matColumnDef="Join_date">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Join Date</th>
            <td mat-cell *matCellDef="let element"> {{element.Join_date | date :'dd/MM/YYYY'}} </td>
          </ng-container>
          <ng-container matColumnDef="Reliving_date">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Reliving Date</th>
            <td mat-cell *matCellDef="let element"> {{element.Reliving_date | date :'dd/MM/YYYY'}} </td>
          </ng-container>
          <ng-container matColumnDef="Appointment_order">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Appointment Order</th>
            <td mat-cell *matCellDef="let element"> {{element.Appointment_order}} </td>
          </ng-container>
          <ng-container matColumnDef="Reliving_order">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Reliving Order</th>
            <td mat-cell *matCellDef="let element"> {{element.Reliving_order}} </td>
          </ng-container>
          <ng-container matColumnDef="Active_yn">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let element"> {{element.Active_yn}} </td>
          </ng-container>
          <ng-container matColumnDef="Remark">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
          </ng-container>
          <ng-container matColumnDef="NOC_reliving" stickyEnd="true">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>NOC</th>
            <td mat-cell *matCellDef="let element "><a [href]=element.NOC_reliving target="_blank"><mat-icon>tab</mat-icon></a></td>
          </ng-container>
          <ng-container matColumnDef="Action" stickyEnd="true">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary" (click)="onedit(element.Map_post_emp_id);scrollToBottom()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="ondelete(element.Map_post_emp_id)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
<br>
      <mat-paginator class="paging"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
     </mat-paginator>
</div>
</div>
    </mat-card>
</div>
