<div class="container-fluid" *ngFor="let s of roles">
    <mat-card>
      <div class="container">
        <div class="row">
          <div class="col-md-12 heading">
            <h2>Employee Profile</h2>
          </div>
        </div>
        <form>
          <!-- Employee Profile -->
          <div class="student-profile py-4">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent text-center">
                      <img class="profile-img" src="{{s.Emp_Photo_Path}}" alt="">
                      <h3>{{s.FullName}}</h3>
                      <h3>{{s.Post_Name}}</h3>
                    </div>
                    <div class="card-body">
                      <p class="mb-0"><strong>Employee ID:</strong> {{s.Emp_ID}}</p>
                      <p class="mb-0"><strong>Father Name:</strong> {{s.Father_Name_E}}</p>
                      <p class="mb-0"><strong>Mother Name:</strong> {{s.Mother_Name_E}}</p>
                      <p class="mb-0"><strong>Guardian Name:</strong> {{s.Guardian_Name_E}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                      <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th>Gender</th>
                          <td>{{s.Gender_Id}}</td>
                        </tr>
                        <tr>
                          <th>Religion</th>
                          <td>Group</td>
                        </tr>
                        <tr>
                          <th>Blood</th>
                          <td>O+</td>
                        </tr>
                      </table>
                      <div class="text-center">
                        <button mat-raised-button color="warn" routerLink="employee-profile">UPDATE PROFILE</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
