<div class="container-fluid ">
    <div class="row" style="margin-top: 18px;">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4" >
                    <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">PROJECTS</h4>
                    </div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">{{projectCountValue}}</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">PENDING WORKS</h4>
                    </div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">{{workCountValue}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">EMPLOYEES</h4>
                    </div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">{{empCountValue}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">LEAVES</h4>
                    </div>
                    <div class="mb-4" style="text-align:center;">
                        <h4 class="card-title mb-0">76</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
