
<!-- Data Table -->
<div class="container mb-0" id="addnews">
  <div class="row ">
    <div class="col-md-12 heading">
        <h2 style="color:rgb(114, 175, 224);">My Works</h2>
    </div>
</div>
</div>
<div style="overflow-x:auto; margin-top: 0;">
  <form [formGroup]="myWorkForm" >
    <table class="table table-bordered mt-3 scroll-down ">
      <thead>
        <tr >
          <th>Sr.</th>
          <th>Project</th>
          <th>Module</th>
          <th>Work</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Description</th>
          <th>Set Status</th>
          <th> Approval</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of previewData; let ind=index;" >
          <td>{{ind+1}}</td>
          <td>{{us.Project_name}}</td>
          <td>{{us.module_name}}</td>
          <td>{{us.Work_name}}</td>
          <td>{{us.Start_date | date:'dd/mm/yyyy'}}</td>
          <td>{{us.End_date | date:'dd/mm/yyyy'}}</td>
          <td>{{us.Description}}</td>
          <td> 
            <select name="language" id="language" formControlName="is_Work_complete">
            <option value="Finish">Finished</option>
            <option value="Running">Running</option>
            <option value="Incomplete">Incomplete</option>F
          </select> &nbsp;
          <button class="margin" mat-icon-button color="primary" type="button" (click)="submitForm(us.alloted_project_work_id)"> <mat-icon>save</mat-icon> </button>        
        </td>
          <td>{{us.approval}}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<br>
<br>

<!-- progresbbar old code without chatgpt code its also run fine but need to click button to call funtion -->
<!-- <div>
  <button (click)="newfunc()">click</button>
</div> -->

<!-- <div class="row">
<div class="col-md-6">
  <div *ngFor="let a of arr" >
    <div>
      {{a.Project_name}}
    </div>
    <div  class="progress">
      <div class="progress-bar"  role="progressbar" [style.width.%]="a.percent" aria-valuemin="0" aria-valuemax="100">
        {{a.percent}}%
       </div>
    </div>
  </div>
</div>
</div> -->





